{% extends "::layout.html.twig" %}
{% block title %}L'agence{% endblock %}
{% block bodyClass %}class="agence"{% endblock %}
{% block content %}

    <h2> Famille</h2>
    <p> Trente & Un propose à des familles partageant les mêmes valeurs de faire se rencontrer leurs enfants, en ayant
        la possibilité de consulter les profils des autres foyers pour vérifier leur ascendance ou leurs influences.</p>
    <h2>
        Tradition </h2>
    <p> Trente & Un est un refuge pour toutes ses familles effrayés à la vision de la disparition de cet héritage qui
        est leur mode de vie. Leurs coutumes sont ici les bienvenues, elles sont même un gage de la prospérité de leur
        lignée.
    </p>

    <h2>La sécurité comme principe</h2>

    <p>Trente & Un s’engage à protéger vos précieuses données, conservant ainsi l’intimité de votre douce famillle.
        Vous pouvez donc dormir sur vos deux délicates oreilles, vous êtes ici les seuls possesseurs des informations de
        votre élégante lignée.</p>


    <h2> Éducation </h2>
    <p> Trente & Un se réserve le droit d’exiger de ses membres une attitude et une politesse irréprochable. Les
        utilisateurs inscrits sur ce site se doivent de faire preuve de bienséance et de respect envers les autres
        utilisateurs. Les plus belles relations se créent sur des bonnes bases pour lesquelles la courtoisie et les
        bonnes manières sont requises.</p>

    <h2> Généalogie </h2>
    <p> Trente & Un est fortement attaché à l’une de ses valeurs principales : le prestige de votre lignée. En effet,
        les signes de la richesse prodigieuse de votre patrimoine culturel et intellectuel sont ceux de votre
        ascendance, illuminant de sa lumière les générations futures qui se languissent d’atteindre un jour leur
        magnificence.</p>
    <h2>
        Voluptueusement vôtre </h2>
    <p> Assez de ces sempiternels et vaines paroles, de ces stratagèmes vides de sens et de ces pensées sans fond.
        Trente & Un a pour objectif unique de lier des destinées sublimes qui se cherchent, qui se dispersent, qui
        attendent dans l’ombre l’occasion de scintiller. Trente & Un ose là où les gens invoquent la raison comme un
        frein à l’épanouissement de la jeunesse, comme une entrave au bonheur de l’insouciance exquise de la vivacité de
        notre temps.
    </p>

{% endblock %}