{% extends "::layout.html.twig" %}
{% block title %}Conditions générales d'utilisation{% endblock %}
{% block content %}
    <h2>Utilisateurs</h2>

    <p>Trente & Un permet à tout internaute d’ouvrir un compte sur le site lui permettant notamment de créer un profil
        pour lui et sa famille. L’internaute s'engage à fournir des informations exactes, actualisées et complètes
        durant le processus d’enregistrement. L’internaute doit impérativement saisir un nom d’utilisateur et une
        adresse mail. Toute saisie d'informations fausses, inexactes, non-actualisées ou incomplètes ou d'un nom
        d'utilisateur contenant des termes inappropriés, irrespectueux, diffamants, obscènes ou indécents, pourra donner
        lieu à la suspension et la fermeture du compte.</p>
    <p>L'utilisateur veille à la confidentialité de ses identifiants de connexion.</p>


    <h2>Obligations de l'utilisateur</h2>


    <p>L'utilisateur s'engage à ne pas :</p>
    <ul class="puce">
        <li>Mettre en ligne, enregistrer ni transmettre des éléments comportant des secrets commerciaux ou d'affaires.
        </li>
        <li>Mettre en ligne, enregistrer ni transmettre des éléments obscènes, violents, diffamants, injuriants,
            menaçants, malveillants, abusifs à l'égard de toute personne physique ou morale, membre ou non, ou incitant
            à la discrimination, à la haine d'une personne ou d'un groupe de personnes à raison notamment de leurs
            opinions politiques, de leur origine ou de leur appartenance ou de leur non-appartenance vraie ou supposée à
            une ethnie, une nation, une race ou une religion déterminée ou de leur orientation sexuelle.
        </li>
        <li>Mettre en ligne, enregistrer ni transmettre des éléments pouvant porter atteinte à la présomption
            d'innocence des personnes ou au respect et à l'autorité dus à la Justice.
        </li>
        <li>Mettre en ligne, enregistrer ni transmettre des éléments à caractère pornographique et/ou ayant trait à la
            pédopornographie ou nuisibles à la protection des mineurs.
        </li>
        <li>Mettre en ligne, enregistrer ni transmettre des éléments pouvant porter atteinte à la sécurité ou à
            l'intégrité d'un Etat ou d'un territoire, pouvant inciter à commettre un délit, un crime ou un acte de
            terrorisme ou faisant l'apologie des crimes de guerre ou des crimes contre l'humanité ou incitant au
            suicide.
        </li>
        <li>Mettre en ligne, enregistrer ni transmettre des publicités ou des sollicitations commerciales, ni des
            petites annonces de toute nature.
            Usurper l'identité d'une autre personne ou d'un autre membre
        </li>
    </ul>
    <p>L'utilisateur s'engage en outre à :</p>
    <ul class="puce">
        <li>Ce que sa contribution ne contienne aucun virus de quelque nature que ce soit, qui pourrait perturber ou
            endommager de quelque manière que ce soit le système informatique de Trente & Un
        </li>
        <li>Rédiger ses messages en langue française et en lettres minuscules.</li>
        <li>L'utilisateur est responsable des messages qu'il publie et des conséquences qui pourraient en résulter.</li>
        <li>L'utilisateur accepte que ses contributions deviennent des informations publiques.</li>
    </ul>

    <h2>Droit de suppression ou de résiliation d'accès</h2>


    <p>En cas de violation des dispositions de la présente charte, de toute disposition législative ou réglementaire
        française ou communautaire, ou dans l'hypothèse où Trente & Un estimerait être en présence d'une violation de
        ses intérêts matériels et/ou moraux, il se réserve le droit :</p>
    <ul class="puce">
        <li>de refuser la contribution des utilisateurs</li>
        <li>et/ou de supprimer toute contribution des utilisateurs qui aurait déjà été diffusée</li>
        <li>de résilier les droits d'accès d'utilisateurs</li>
        <li>De fermer le profil</li>
    </ul>
    <p>Les décisions de Trente & Un ne pourront être contestées.<br>
        Les décisions de Trente & Un pourront être notifiées aux utilisateurs concernés.</p>

{% endblock %}