{% extends "::layout.html.twig" %}
{% block title %}Découvrir{% endblock %}
{% block bodyClass %}class="agence"{% endblock %}
{% block content %}
    <div class="bgpic cercle">
        <h2> Un même cercle...</h2>

        <p> Les familles élégantes inscrites sur Trente & Un ont en effet l’heureuse possibilité de faire s’entrechoquer
            les coeurs et les âmes de leurs enfants avec ceux d’autres familles galantes qui leur ressemblent. Sur
            Trente & Un, nous vous proposons de belles suggestions pour trouver autour de votre foyer des lignées dont
            les comportements, les attitudes et le mode de vie sont en accord parfait avec votre façon de penser.</p>
    </div>

    <div class="bgpic rallye">
        <h2>
            Des rallyes inoubliables </h2>

        <p> Trente & Un vous propose une aide agréable et conséquente pour vous permettre d’organiser vos rallyes
            galants. Des conseils exquis, des lieux charmants, nous vous aidons à préparer voluptueusement ces précieux
            évènements, pour vous et votre famille. Nous nous engageons à faire de ces évènements élégants le reflet le
            plus pur de votre charme de votre talent inné d’organisation et d’hôte.
        </p>
    </div>

    <div class="bgpic envols">
        <h2>Votre aide pour leurs envols</h2>

        <p>Trente & Un a pensé à vous, en mettant à votre disposition un annuaire des autres lignées prestigieuses par
            région. Une simple recherche vous permettra de réunir vos pensées à ceux que vous connaissez déjà, à ceux
            que vous savez influents. Il n’appartient donc qu’à vous de développer votre exquis réseau grâce à cet
            outil, en le liant avec ceux des autres prestigieuses familles que vous ajouterez.</p>
    </div>


    <div class="bgpic voluptueux">
        <h2> Voluptueusement vôtre </h2>

        <p> Rejoignez-nous dès à présent sur les réaux sociaux (Facebook, Twitter) en vous inscrivant à l'avant-première
            ci dessous.</p>
    </div>


{% endblock %}