{% extends "::layout.html.twig" %}
{% block title %}Mentions légales{% endblock %}
{% block bodyClass %}class="mentions"{% endblock %}
{% block content %}

    <p>Dénomination : Trente &amp; Un<br>
        Siège social : Paris 75 002</p>

    <p>Directeur de publication : Noémie LECORPS<br>
        Hébergement : Amazon Web Services<br>
        Nom de domaine : www.trentetun.com</p>

    <h2>Collecte de données personnelles </h2>

    <p>Conformément à la loi relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978, les informations
        à caractère nominatif relatives aux acheteurs pourront faire l'objet d'un traitement automatisé. Trente &amp; Un
        se réserve le droit de collecter des informations sur les personnes inscrites y compris en utilisant des
        cookies, et, s'il le souhaite, de transmettre à des partenaires commerciaux les informations collectées.<br>
        Les personnes inscrites peuvent s'opposer à la divulgation de leurs coordonnées en le signalant à Trente &amp;
        Un. De même, les utilisateurs disposent d'un droit d'accès et de rectification des données les concernant,
        conformément à la loi du 6 janvier 1978. </p>

    <h2>Protection des droits d’auteur </h2>

    <p>Toute reproduction même partielle du site est ainsi interdite, sauf consentement express du titulaire des droits
        d’auteur.<br>
        La copie partielle ou totale d’un écrit ou d’une image protégé par les droits d’auteur nécessite l’accord
        préalable de l’auteur, même si elle issue d’un site ayant déjà obtenu son autorisation.<br>
        Protection du contenu du site internet « Trente &amp; Un »<br>
        Le contenu est protégé par les droits d’auteur (article L122-4 du Code de la Propriété intellectuelle).<br>
        Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l’auteur ou de ses
        ayants droits ou ayants cause est illicite. Il en est de même pour la traduction, l’adaptation ou la
        transformation, l’arrangement ou la reproduction par un art ou un procédé quelconque. </p>

    <h2>Limitation de la responsabilité </h2>
    <p>Alors que nous avons effectué toutes les démarches pour nous assurer de la fiabilité des informations contenues
        sur ce site internet, le site Trente &amp; Un ne peut encourir aucune responsabilité du fait d’erreurs,
        d’omissions, ou pour les résultats qui pourraient être obtenus par l’usage de ces informations.</p>

    <p>Crédit photo : www.istockphoto.com
    </p>

{% endblock %}