@import 'base/normalize';
@import 'base/variables';
@import 'base/includes';
@import 'base/typo';

// footer
footer {
  color: $white;
  font-size: 11px;
  background-color: $dgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 260px;
  .contact {
    margin-bottom: 30px;
    background: $lgrey;
    a {
      display: block;
      font-family: $ubuntu;
      padding: 15px 0;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: $dgrey;
    }
  }
  .left, .bottom {
    li {
      display: inline-block;
      & + li:before {
        content: "|";
        padding: 0 10px;
      }
    }
  }
  .bottom {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #414141;
    text-align: center;
  }

  .dsp-tc {
    vertical-align: top;
    @media(max-width: 640px) {
      display: block;
    }
  }
  .left {
    ul {
      margin-top: 25px;
    }
  }
  .right {
    width: 170px;
    li {
      margin-bottom: 5px;
    }
  }
  a:not(.logo):hover {
    opacity: 0.5;
  }
  p {
    text-transform: uppercase;
  }
  .facebook, .twitter {
    line-height: 24px;
  }
  .facebook:before, .twitter:before {
    display: inline-block;
    content: "";
    background-image: url('../bundles/thirtyonefront/images/form/social_pictos.png');
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .facebook:before {
    background-position: top left;
  }
  .twitter:before {
    background-position: top right;
  }
}

// queries
@media (max-width: 640px) {
  footer {
    text-align: center;
    height: 300px;
    .logo {
      display: none;
    }
    .right {
      width: 100%;
      padding: 15px 0;
      li {
        display: inline-block;
        & + li {
          margin-left: 20px;
        }
      }
    }
    .contact {
      margin-bottom: 0;
    }
    .left {
      margin-bottom: 15px;
    }
    .bottom {
      padding-top: 25px;
    }
  }
}

