@import 'base/normalize';
@import 'base/variables';
@import 'base/includes';
@import 'base/typo';

//header
a.logo {
  display: inline-block;
  @media (max-width: 640px) {
    display: block;
    padding-top: 15px;
  }
}

.logo h1 {
  font-size: 0;
  background-image: url('../bundles/thirtyonefront/images/form/trentetun.png');
  width: 193px;
  height: 77px;
  margin: auto;
}

header {
  background-color: $white;
  .wrapper {
    position: relative;
  }
}

nav {
  font-family: $raleway;
  font-weight: bold;
  text-transform: uppercase;
  color: $dgrey;
  height: 35px;
  text-align: right;
  margin-top: 25px;
  ul {
    font-size: 0;
    @media (max-width: 640px) {
      text-align: center;
    }
  }
  li {
    display: inline-block;
    width: 20%;
    min-width: 80px;
    font-size: 12px;
    a {
      display: block;
      text-align: center;
      padding: 5px 0;
      &:hover, &.active {
        background-color: $pink;
        color: $white;
      }
      &.home {
        position: relative;
          &:after {
            content: "";
            width: 13px;
            height: 15px;
            background: url('../bundles/thirtyonefront/images/form/logo_home.png') no-repeat top center;
            position: absolute;
            display: inline-block;
            left: 10px;
          }
        &.active:after, &:hover:after {
          background-position: bottom center;
        }
      }
    }
    & + li {
      border-left: 1px solid $lgrey;
    }
  }
  &.disconnect li {
    width: 13%
  }

  &.connect {
    height: 45px;
    a {
      padding: 10px 0;
    }
  }
}

.navRigh {
  position: absolute;
  top: 35px;
  right: 0;
  li {
    display: inline-block;
    &+li {
      margin-left: 40px;
    }
    a:hover {
      color: $pink;
    }
  }
  .myaccount:before {
    background-image:  url('../bundles/thirtyonefront/images/form/account.png');
    display: inline-block;
    content: "";
    height: 18px;
    width: 19px;
    margin-right: 10px;
  }
  .message:before {
    background-image:  url('../bundles/thirtyonefront/images/form/message.png');
    background-position: top center;
    display: inline-block;
    content: "";
    height: 20px;
    width: 26px;
    margin-right: 10px;
  }
  .new:before {
    background-position: bottom center;
  }
}
