@import 'base/normalize';
@import 'base/variables';
@import 'base/typo';
@import 'base/includes';

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  background: url('../bundles/thirtyonefront/images/form/fond.jpg') no-repeat center fixed;
  background-size: cover;
}

header {
  background-color: $white;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper;
}

#content {
  min-height:100%;
  position:relative;
}

footer {
  background-color: $dgrey;
  position:absolute;
  bottom:0;
  width:100%;
}

nav {
  height: 35px;
  text-align: right;
  margin-top: 25px;
  li {
    display: inline-block;
    a {
      padding: 10px 30px;
      &:hover {
        background-color: $pink;
        color: $white;
      }
    }
    & + li {
      border-left: 1px solid $dgrey;
    }
  }
}