@import 'base/normalize';
@import 'base/variables';
@import 'base/includes';
@import 'base/typo';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url('../bundles/thirtyonefront/images/form/fond.jpg') no-repeat center fixed;
  background-size: cover;
}

header {
  background-color: $white;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper;
  width: 90%;
}

#container {
  min-height: 100%;
  position: relative;
}

nav {
  height: 35px;
  text-align: right;
  margin-top: 25px;
  ul {
    font-size: 0;
  }
  li {
    display: inline-block;
    width: 20%;
    font-size: 12px;
    a {
      display: block;
      text-align: center;
      padding: 5px 0;
      &:hover, &.active {
        background-color: $pink;
        color: $white;
      }
    }
    & + li {
      border-left: 1px solid $lgrey;
    }
  }
  &.disconnect li {
    width: 13%
  }
}

#content {
  padding-top: 40px;
  padding-bottom: 260px; //height footer + 40px
}

// footer
footer {
  background-color: $dgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-top: 30px;
  .left, .bottom {
    li {
      display: inline-block;
      & + li:before {
        content: "|";
        padding: 0 10px;
      }
    }
  }
  .bottom {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #414141;
  }

  .left {
    display: inline-block;
    ul {
      margin-top: 25px;
    }
  }
  .right {
    float: right;
    width: 170px;
  }
}

// home
.inscriptionAP {
  #content {
    text-align: center;
    margin-top: 8%;
  }
  .alignLeft {
    display: inline-block;
    margin: 35px auto;
    text-align: left;
  }
}

.inscription {
  #form > div:first-child {
    background-color: $lgrey;
    padding: 4px 20px;
  }
  div {
    display: inline-block;
  }
  button {
    margin-left: 20px
  }
}

//agence
.agence {
  #content {
    text-align: center;
    p {
      max-width: 50%;
      margin: 0 auto;
    }
  }
  h2 {
    border-top: 1px solid $lgrey;
    padding-top: 1em;
    &:first-child {
      border: none;
    }
  }
}

// presse
.static {
  margin-top: 25px;
  .dsp-tc {
    vertical-align: bottom;
  }
  a {
    display: block;
    margin-top: 10px;
  }
  .staticRight {
    width: 345px;
  }
}

.mail {
  @media (max-width: 870px) {
    .dsp-tc {
      display: block;
    }
  }
  .dsp-tc {
    vertical-align: top;
  }
  padding: 20px;
  margin-top: 40px;
  background-color: $white;
  .contactRight {
    width: 325px;
  }
  label {
    width: 35%;
    display: inline-block;
  }
  #thirtyone_frontbundle_contactformtype_gender label {
    width: 80px;
  }

  input[type='text'], input[type='email'], textarea {
    border: 1px solid #ccc;
    width: 65%;
  }

  form {
    width: 85%;
    div {
      margin-bottom: 10px;
    }
  }
  textarea {
    height: 100px;
  }

  button {
    float: right;
  }
}