{% if unreadMessage > 0 %}
    <a href='{{ path('thirtyone_member_message_getthread') }}' class="message new">ma messagerie</a>
{% else %}
    <a href='{{ path('thirtyone_member_message_getthread') }}' class="message">ma messagerie</a>
{% endif %}