{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block content %}
    {{ include('ThirtyOneMemberBundle:Message:menu.html.twig') }}

    <h2>Boite de réception</h2>

    <a href="{{ url('thirtyone_member_message_newthread' ) }}">{% trans from 'FOSMessageBundle' %}
        send_new{% endtrans %}</a>

    {% include 'ThirtyOneMemberBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
