<div>
    <ul>
        <li>
            <a href="{{ url('thirtyone_member_message_inbox') }}">boite de réception</a></li>
        <li>
            <a href="{{ url('thirtyone_member_message_sent') }}">messages envoyés</a></li>
        <li>
            <a href="{{ url('thirtyone_member_message_deleted') }}">messages supprimés</a></li>
    </ul>
</div>

