@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* fonts */

$raleway : 'Raleway', sans-serif;
$ubuntu : 'Ubuntu', sans-serif;

/* colors */

$pink : #BA2161;
$grey : #5E5958;
$dgrey : #333;
$lgrey : #e7e7e7;
$white : #fff;
$black : #000;


/* general */
$wrapper : 940px;
