<div class="dsp-t">
    {% for c in cmd %}
        <div class="dsp-tr">
            <div class="dsp-tc">
                Commande #{{ c.id }}
            </div>
            <div class="dsp-tc">
                {{ c.date|date("d m Y") }}
            </div>
        </div>

    {% endfor %}
</div>


