<ol>
    <li>
        <div class="pos {% if pos == '1' %}active
        {% endif %}">1
        </div>
        Choix du lieu
    </li>
    <li>
        <div class="pos {% if pos == '2' %}active
        {% endif %}">2
        </div>
        Choix du traiteur
    </li>
    <li>
        <div class="pos {% if pos == '3' %}active
        {% endif %}">3
        </div>
        Choix de la musique
    </li>
    <li>
        <div class="pos {% if pos == '4' %}active
        {% endif %}">4
        </div>
        Validation
    </li>
</ol>
