{% if participe is not defined %}
    <a href="{{ path('thirtyone_member_event_registerinevent', {'eventId':eventId}) }}"
       class="participate">participer</a>
{% endif %}
<div class="participants pink">
    <strong>
        {{ participants|length }} participants
    </strong>
</div>
