{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block content %}

{% if error is defined %}
   <p>{{ error }}</p>

{% else %}
<ul>
    {% for r in result %}
        <li><a href="{{ path('thirtyone_member_default_profil', {'slug': r.slug}) }}">{{ r.username }}</a><br>
        {{ r.region }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}