{% if error is defined %}
   <p>{{ error }}</p>

{% else %}
<ul>
    {% for r in result %}
        <li><a href="{{ path('thirtyone_member_default_profil', {'params': r.username~'_'~r.id}) }}">{{ r.username }}</a><br>
        {{ r.region }}</li>
    {% endfor %}
</ul>
{% endif %}