{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block content %}
    <div class="breadcrumb">
        <a href='{{ path('thirtyone_member_rechercher_rechercher') }}'>
            recherche
        </a>
    </div>
    <div class="contentBlock recherche">
        <h2>Rechercher une famille</h2>
        {{ include('ThirtyOneMemberBundle:Rechercher:form.html.twig', {'family':1}) }}

    </div>
    <div class="contentBlock recherche">

        <h2>Rechercher un rallye</h2>
        {{ include('ThirtyOneMemberBundle:Rechercher:form.html.twig', {'family':0}) }}
    </div>
{% endblock %}