{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block content %}


    <div class="addForm">
        <a href="#" class="Parent">Ajouter un parent</a>
        <a href="#" class="Child">Ajouter un enfant</a>
        <a href="#" class="GdParent">Ajouter un grand parent</a>
    </div>

    <div class="form">

    </div>

    <div class="GdParent">

    </div>
    <div class="Parent">

    </div>
    <div class="Childr">

    </div>

{% endblock %}