{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block content %}

    <p>
        Nous avons bien pris en compte votre demande d'inscription.<br>
        Vous serez recontacté ultérieurement.
    </p>

{% endblock %}